*{
    font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

/*轮播图图片部分*/
.img-carousel{
    width: 100%;
    min-width: 1200px;
}
.img-carousel ol{
    margin-top: 30px;
}
#myCarousel{
    height: 490px;
    overflow-y: hidden;
}

.item>img{
    height: 490px;
    width: 100%;
    min-width: 1200px;
}

/*轮播图文字部分*/
.details{
    margin: 0 auto;
    width: 1200px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.instructions{
    position: absolute;
    margin-left: 130px;
    z-index: 999;
    width: 650px;
}
.instructions h3{
    margin: 50px 0 0 0;
    font-size: 18px;
}
.instructions .ar-gene{
    margin: -120px 280px 0 280px;
    color: #386cca;
    font-size: 140px;
}
.instructions img{
    margin-top: 60px;
    position: relative;
    z-index: 999;
}

.instructions p{
    margin: 70px auto 0;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    width: 560px;
    font-weight: lighter;
}
.place-order{
    position: absolute;
    z-index: 999;
    margin-top: 50px;
    margin-left: 890px;
    width: 270px;
    height: 375px;
}
.place-order>div{
    background: url("../../images/login-bg1.png");
    background-size: cover;
}
.place-order>div:nth-child(1){
    height: 115px;
    margin-bottom: 20px;
    padding-top: 30px;
}
.place-order>div:nth-child(1)>img{
    width: 48px;
    height: 48px;
    margin: 0 30px 0 20px;
    float: left;
}
.place-order>div:nth-child(1)>div{
    float: left;
    font-size: 18px;
    color: #666;
    font-weight: lighter;
}
.place-order a{
    text-decoration: none;
    color: #666;
}
.place-order>div:nth-last-child(1){
    height: 240px;
    padding-top: 40px;
}
.place-order>div:nth-last-child(1)>span{
    font-size: 20px;
    color: #333;
}
.place-order>div:nth-last-child(1)>p{
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
.place-order>div:nth-last-child(1)>a{
    padding: 0;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 18px;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: #f57a7a;
}

/*搜索框*/
.order-number-search{
    margin-top: 40px;
    width: 650px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.2);
}
.order-number-search i{
    font-size: 24px;
}
.order-number-search span{
    width: 120px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #5c8ce6;
    border-radius: 25px;
    border: 1px solid #5c8ce6;
    border-left: none;
}
.order-number-search input{
    padding-left: 20px;
    height: 50px;
    font-size: 18px;
    color: #999;
    border-radius: 25px;
    border: 1px solid #fff;
    border-right: none;
}

/*合作机构*/
.company{
    width: 100%;
    min-width: 1200px;
    height: 40px;
    background-color: #172a4d;
}
.company div{
    width: 1200px;
    height: 40px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
    margin: 0 auto;
}
.company img{
    margin-left: 20px;
}

.content{
    width: 1200px;
    margin: 0 auto;
}
/*三个图标*/
.icon{
    height: 150px;
    background-color: #f1f8f6;
    font-size: 72px;
    color: #d8e7ff;
    padding: 0 140px;
    text-align: center;
}

.icon div{
    display: inline-block;
}

#cloud p,#babysmile p{
    margin-top: -10px;
}

.icon div p{
    font-size: 16px;
    color: #666;
}
#shield{
    float: none;
    font-size: 120px;
    margin-top: -15px;
}
#shield p{
    position: relative;
    z-index: 999;
    margin-top: -110px;
    line-height: 30px;
}

/*文本区域样式*/
.text-area{
    height: 430px;
    text-align: center;
    padding: 120px 0;
}
.text-area p{
    text-align: left;
    font-size: 24px;
    line-height: 40px;
    margin-left: 100px;
    color: #666;
}
.text-area hr{
    width: 50px;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ddd;
}
/*按钮样式*/
.content button{
    border: 1px solid #f57a7a;
    border-radius: 18px;
    padding: 7px 30px;
    font-size: 16px;
    color: #f57a7a;
    background-color: white;
    outline: none;
}
.content button:focus,.content button:hover{
    border: 1px solid white;
    border-radius: 18px;
    padding: 7px 30px;
    font-size: 16px;
    color: white;
    background-color: #f57a7a;
    outline: none;
}
/*基因报告从何而来*/
.report-origin div{
    margin: 0 470px 0 350px;
}

/*报告阅读说明附录*/
.instructions-appendix div{
    margin: 0 0  0 730px;
}

.instructions-appendix div p{
    margin-left: 120px;
}
/*氨基酸附录*/
.amino-acid-appendix{
    height: 429px;
}
.amino-acid-appendix div{
    margin: 0 848px 0 0;
}
/*疾病介绍附录*/
.disease-appendix{
    height: 320px;
    background: url("../images/disease-appendix-bg.jpg") no-repeat center;
}
.disease-appendix p{
    margin: 0 0 50px 0;
    text-align: center;
}