*{
     font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
 }
body{
    margin: 0;
    width: 100%;
    min-width: 1200px;  /*预防缩放浏览器窗口带来的错误问题*/
    background-color: #fff;
}
input:focus{
    border: none;
}
.header{
    width: 100%;
    min-width: 1200px;
    height: 80px;

}
.header img{
    margin-left: 50px;
    width: 340px;
    height: 80px;
}
.main-part{
    width:100%;
    min-width: 1200px;
    height: 620px;
    background: url("../../images/login-bg.jpg") center 0 no-repeat;
    background-size: cover;
    border-top: 1px solid transparent;
    margin:0;
    padding: 0;
}
.main-part>div{
    width: 1200px;
    margin: 0 auto;
}
.main-part>div>img{
    float: left;
}
.login-form{
    float: right;
    margin: 130px 20px 0 0;
    width: 300px;
    height: 320px;
    /*background-color: #EBF3F6;*/
    background: url("../../images/login-bg1.png");
    background-size: cover;
    padding-bottom:30px;
    border-radius: 4px;
}
.login-form .title{
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    height: 50px;
    display: flex;
    display: -webkit-flex;
}
.login-role{
    width: 150px;
    font-size: 16px;
    background-color: #ddd;
    color: #999;
    line-height: 50px;
    cursor: pointer;
}
.role-active{
    background-color: transparent;
    color: #386cca;
}
.login-role:nth-child(1){
    border-top-left-radius: 4px;
}

.login-role:nth-child(2){
    border-top-right-radius: 4px;
}

.login-form .input-group{
    margin: 0 auto;
    border: 1px solid #ccc;
}
.input-group .input-group-addon{
    border-radius: 0;
}
.input-group:first-child{
    margin: 0 auto 20px;
}
.input-group .input2{
    margin-bottom: 20px;
}
.login-form .input-group span{
    height: 40px;
    width: 50px;
    border: none;
    border-right: 1px solid #ccc;
}
.login-form .input-group input{
    height: 40px;
    width: 190px;
    border: none;
}
.login-form i{
    font-size: 24px;
    color: #999;
}
.login-form .btn-block{
    width: 240px;
    height: 40px;
    background-color: #5C8CE6;
    color: #fff;
    font-size: 16px;
    margin:0 auto;
}
.login-form .btn-block:hover{
    background-color: #3976E5;
}
.role{
    width: 240px;
    margin:6px auto;
    visibility: hidden;
}
#manager{
    float: left;
    margin-left: 0;
}
#user{
    margin-left: 20%;
}
.delete{
    position: absolute;
    margin-top: 10px;
    margin-left: 160px;
    z-index: 9999;
    display: none;
    float: right;
}
.delete:hover{
    cursor: pointer;
}
.bs-example .bs-example-form{
    margin-bottom: 10px;
}
.option{
    width: 240px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
}
.option a{
    color: #386cca;
    font-size: 12px;
    text-decoration: none;
}
.option a:hover{
    color:#3976E5;
}

.alert{
    margin-top: -40px;
    margin-bottom: 10px;
    border-radius: 0;
    width: 300px;
    height: 30px;
    padding: 6px 10px 0 40px;
    display: none;
    background-color: #f67e7e;
    color: #fff;
    font-family: "Microsoft YaHei", serif;
    font-size: 12px;
}
.alert i{
    font-size: 18px;
    line-height: 30px;
    margin: 0 10px;
    color: #5C8CE6;
}
.footer{
    width: 100%;
    min-width: 1200px;
    height: 50px;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}
.footer p{
    margin:0 auto;
    width: 670px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC!important;
    height: 40px!important;
    line-height: 40px!important;
    border-radius: 0 5px 5px 0;
}