*{
    font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
}

.main-part{
    width: 100%;
    min-width: 1200px;
}
.main-part>div{
    width: 1200px;
    margin: 0 auto;
}

.order-list{
    margin-left: 300px;
    min-height: 700px;
    width: 900px;
    border: 1px solid #ccc;
    padding: 20px;
}

.order-list a{
    text-decoration: none;
}
.order-list>div{
    margin-top: 20px;
    display: none;
}
.order-list table tr td{
    vertical-align: middle;
    height: 45px;
}
.table-caption{
    width: 858px;
    height: 50px;
    text-align: center;
    background-color: #5c8ce6;
    font-size: 24px;
    line-height: 50px;
    color: #fff;
}

.holder1,.holder2,.holder3{
    margin: 40px 0;
}
.holder1 a,.holder2 a,.holder3 a{
    margin:0 10px 0 0;
}
.jp-current{
    background-color: #5c8ce6;
    color: #fff;
}
.jp-current:hover{
    background-color: #3976e5 !important;
    color: #fff !important;
}
