*{
    font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
}

.main-part{
    width: 100%;
    min-width: 1200px;
}
.main-part>div{
    width: 1200px;
    margin: 0 auto;
}

.order-info{
    padding: 20px 0;
}

.order-number{
    background-color: #F5FBFF;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border: 1px solid #ccc;
    padding: 0 40px;
}
.order-number span{
    margin: 0 10px;
    color: #5c8ce6;
}

.order-status{
    margin-top: 20px;
    height:40px;
    background-color: #C2D3F2;
    display: flex;
    justify-content: space-around;
}
.order-status div{
    font-size: 16px;
    line-height: 40px;
    color: #fff;
}
.order-status .current-status{
    background-color: #F54F4F;
    line-height: 50px;
    height: 50px;
    margin-top: -5px;
    padding: 0 20px;
}
.status-info{
    margin-top: 20px;
    border: 1px solid #ccc;
    background: url("../images/order-detail-bg1.jpg");
    background-size: cover;
    padding:0 80px;
}

.status-info>div{
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
}

.status-info p{
    margin: 10px 0;
}

.status-info p:nth-of-type(1){
    color: #5c8ce6;
}


.order-table,.sample-result{
    margin-top: 20px;
    border: 1px solid #ccc;
}

.table-title{
    background-color: #F5FBFF;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 40px;
}

.order-table table{
    margin: 20px;
    width: 1160px;
    text-align: center;
}
.order-table table tr td{
    vertical-align: middle;
}
.order-table>table:nth-of-type(1) p,.order-table>table:nth-of-type(1) tr:nth-child(3) td:nth-child(2){
    margin: 0;
    text-align: left;
    text-indent: 24px;
}
.order-table input{
    margin:0 5px 0 10px;
}

.order-table table:nth-of-type(2) tr td:nth-last-child(1){
    max-width: 200px;
    wrap-option: wrap;
}

.options{
    margin: 10px 0;
    display: flex;
    flex-direction: row-reverse;
}
.options button{
    margin: 0 10px;
    border: none;
}

.options .btn-primary{
    background-color: #5c8ce6;
}
.options .btn-primary:hover{
    background-color: #3976e5;
}
.sample-result{
    margin-bottom: 100px;
}
.sample-result table{
    margin: 20px;
    width: 1160px;
    text-align: center;
}

.sample-result table a{
    text-decoration: none;
}

.option-button-handler{
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-bottom: 20px;
}
.option-button-handler button{
    width: 100px;
    border: none;
    margin-left: 20px;
}