*{
    font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
}

.main-part{
    width: 100%;
    min-width: 1200px;
}
.main-part>div{
    width: 1200px;
    margin: 0 auto;
}

.order-form{
    margin-left: 300px;
    min-height: 700px;
    width: 900px;
    border: 1px solid #ccc;
}

.order-form>div{
    margin-top: 20px;
    padding: 20px;
}

#basicInfoTable tbody td{
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

#basicInfoTable tbody input,
#basicInfoTable tbody textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
}
#basicInfoTable tbody tr:nth-child(3) td:nth-child(2){
    text-align: left;
}

#basicInfoTable tbody tr:nth-child(3) td:nth-child(2) input{
    width: 50px;
    height: auto;
 }


#sampleTable{
    margin-top: 50px;
}

#sampleTable thead td{
    vertical-align: middle;
}

#sampleTable tbody td{
    padding: 0;
}

#sampleTable input,
#sampleTable select{
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
}
#sampleTable textarea{
    border: none;
    margin: 0;
    height: 25px;
    resize: vertical;
}
.order-form .btn-primary{
    background-color: #5c8ce6;
    border: none;
}

.order-form  .btn-primary:hover{
    background-color: #3976e5;
}

.fa-plus{
    margin-right: 10px;
}
.fa-trash{
    font-size: 24px;
    color: #ccc;
}
.fa-trash:hover{
    color: #f57a7a;
    cursor: pointer;
}

.option-button{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}

.option-button button{
    width: 200px;

}